
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("#Country").change(function () {
            var id = $(this).val();
            $("#state").empty();
            $.get("State_Bind", { country_id: id }, function (data) {
                var v = "<option>---Select---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#state").html(v);
            });
        });

        $("#state").change(function () {
            var id = $(this).val();
            $("#city").empty();
            $.get("City_Bind", { state_id: id }, function (data) {
                var v = "<option>---Select---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#city").html(v);
            });
        });
    });
</script>

<div>
    @Html.DropDownList("Country", null, "SelectCountry")
</div>
